### **Procesamiento de datos**

El procesamiento de datos es una parte fundamental para asegurarnos de que el dataset esté limpio y listo para su uso en modelos predictivos. Vamos a aplicar técnicas de preprocesamiento de datos para limpiar y transformar el dataset.

Nos enfocaremos en las siguientes tareas:
- **Limpieza de datos**: Manejar valores faltantes y duplicados.
- **Codificación de variables categóricas**: Convertir variables categóricas en numéricas.
- **Escalado de características**: Normalizar las características para que tengan una escala similar, si es necesario.
- **Manejo de valores nulos**: Manejar valores nulos en el dataset, mediante eliminación o imputación.
- **Eliminación de datos duplicados**: Eliminar datos duplicados en el dataset.

### **Importación de librerías**

In [13]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

### **Importación de datos del Dataset**

In [2]:
df = pd.read_csv('../data/raw/IA_PROPENSITY_TRAIN.csv', index_col=0)
df.head()

     PRODUCTO TIPO_CARROCERIA COMBUSTIBLE Potencia TRANS        FORMA_PAGO ESTADO_CIVIL GENERO    OcupaciOn               PROVINCIA Campanna1 Campanna2 Campanna3  Zona_Renta REV_Garantia      Averia_grave QUEJA_CAC  COSTE_VENTA  km_anno  Mas_1_coche  Revisiones  Edad_Cliente  Tiempo
CODE
CLI1        A           TIPO1      FUEL 1     Baja     M           Contado       CASADO      M      Empresa                Asturias        SI        NO        NO  Medio-Bajo      NO DATA  Averia muy grave        SI         2892        0        False           2            18       0
CLI2        A           TIPO1      FUEL 1     Baja     M           Contado       CASADO      F      Empresa                  Toledo        NO        NO        NO  Medio-Bajo           SI                No        NO         1376     7187        False           2            53       0
CLI3        A           TIPO1      FUEL 1     Baja     M             Otros       CASADO      M      Empresa                  Lerida        NO        NO        NO       Medio      NO DATA                No        NO         1376        0         True           4            21       3
CLI4        A           TIPO1      FUEL 1     Baja     M  Financiera Marca       CASADO      F      Empresa                  Madrid        SI        NO        NO       Medio           SI  Averia muy grave        SI         2015     7256         True           4            48       5
CLI5        A           TIPO1      FUEL 1     Baja     M  Financiera Marca       CASADO      F  Funcionario  Santa Cruz de Tenerife        SI        NO        SI        Alto      NO DATA                No        NO         1818        0         True           3            21       3

In [3]:
df.shape

(58049, 23)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58049 entries, CLI1 to CLI58048
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCTO         58049 non-null  object
 1   TIPO_CARROCERIA  58049 non-null  object
 2   COMBUSTIBLE      58049 non-null  object
 3   Potencia         58049 non-null  object
 4   TRANS            58049 non-null  object
 5   FORMA_PAGO       58049 non-null  object
 6   ESTADO_CIVIL     57159 non-null  object
 7   GENERO           57189 non-null  object
 8   OcupaciOn        58049 non-null  object
 9   PROVINCIA        58049 non-null  object
 10  Campanna1        58049 non-null  object
 11  Campanna2        58049 non-null  object
 12  Campanna3        58049 non-null  object
 13  Zona_Renta       44871 non-null  object
 14  REV_Garantia     58049 non-null  object
 15  Averia_grave     58048 non-null  object
 16  QUEJA_CAC        58049 non-null  object
 17  COSTE_VENTA      58049 non-null  int64
 18  km_anno          58049 non-null  int64
 19  Mas_1_coche      58049 non-null  bool
 20  Revisiones       58049 non-null  int64
 21  Edad_Cliente     58049 non-null  int64
 22  Tiempo           58049 non-null  int64
dtypes: bool(1), int64(5), object(17)
memory usage: 10.2+ MB

In [19]:
df.dtypes

PRODUCTO           object
TIPO_CARROCERIA    object
COMBUSTIBLE        object
Potencia           object
TRANS              object
FORMA_PAGO         object
ESTADO_CIVIL       object
GENERO             object
OcupaciOn          object
PROVINCIA          object
Campanna1          object
Campanna2          object
Campanna3          object
Zona_Renta         object
REV_Garantia       object
Averia_grave       object
QUEJA_CAC          object
COSTE_VENTA         int64
km_anno             int64
Mas_1_coche          bool
Revisiones          int64
Edad_Cliente        int64
Tiempo              int64
dtype: object

In [5]:
df.columns

Index(['PRODUCTO', 'TIPO_CARROCERIA', 'COMBUSTIBLE', 'Potencia', 'TRANS', 'FORMA_PAGO', 'ESTADO_CIVIL', 'GENERO', 'OcupaciOn', 'PROVINCIA', 'Campanna1', 'Campanna2', 'Campanna3', 'Zona_Renta', 'REV_Garantia', 'Averia_grave', 'QUEJA_CAC', 'COSTE_VENTA', 'km_anno', 'Mas_1_coche', 'Revisiones', 'Edad_Cliente', 'Tiempo'], dtype='object')

Nos disponemos a describir las variables incluidas en el dataset, utilizadas para el análisis de propensión de un cliente a comprar automóviles:


- **`CODE`** _(object)_ → Código único del cliente.
- **`PRODUCTO`** _(object)_ → Tipo de producto asociado al cliente.
- **`TIPO_CARROCERIA`** _(object)_ → Tipo de carrocería del vehículo.
- **`COMBUSTIBLE`** _(object)_ → Tipo de combustible utilizado.
- **`Potencia`** _(object)_ → Categoría de potencia del vehículo (Ej.: "Baja").
- **`TRANS`** _(object)_ → Tipo de transmisión (Ej.: manual, automática).
- **`FORMA_PAGO`** _(object)_ → Método de pago (Ej.: contado, financiera).
- **`ESTADO_CIVIL`** _(object, con valores nulos)_ → Estado civil del cliente.
- **`GENERO`** _(object, con valores nulos)_ → Género del cliente.
- **`OcupaciOn`** _(object)_ → Profesión del cliente (Ej.: "Funcionario", "Empresa").
- **`PROVINCIA`** _(object)_ → Ubicación geográfica del cliente.
- **`Campanna1`, `Campanna2`, `Campanna3`** _(object)_ → Posibles campañas de marketing asociadas al cliente.
- **`Zona_Renta`** _(object, con valores nulos)_ → Nivel socioeconómico del cliente.
- **`REV_Garantia`** _(object)_ → Indica si el cliente ha realizado revisiones en garantía.
- **`Averia_grave`** _(object, un valor nulo)_ → Historial de averías graves del vehículo.
- **`QUEJA_CAC`** _(object)_ → Indica si el cliente ha registrado una queja en atención al cliente.
- **`COSTE_VENTA`** _(int64)_ → Monto total de la venta (valor numérico).
- **`km_anno`** _(int64)_ → Kilómetros recorridos por año.
- **`Mas_1_coche`** _(bool)_ → Indica si el cliente tiene más de un coche.
- **`Revisiones`** _(int64)_ → Número de revisiones realizadas.
- **`Edad_Cliente`** _(int64)_ → Edad del cliente.
- **`Tiempo`** _(int64)_ → Tiempo en años desde que es cliente.

In [6]:
df.head(3)

     PRODUCTO TIPO_CARROCERIA COMBUSTIBLE Potencia TRANS FORMA_PAGO ESTADO_CIVIL GENERO OcupaciOn PROVINCIA Campanna1 Campanna2 Campanna3  Zona_Renta REV_Garantia      Averia_grave QUEJA_CAC  COSTE_VENTA  km_anno  Mas_1_coche  Revisiones  Edad_Cliente  Tiempo
CODE
CLI1        A           TIPO1      FUEL 1     Baja     M    Contado       CASADO      M   Empresa  Asturias        SI        NO        NO  Medio-Bajo      NO DATA  Averia muy grave        SI         2892        0        False           2            18       0
CLI2        A           TIPO1      FUEL 1     Baja     M    Contado       CASADO      F   Empresa    Toledo        NO        NO        NO  Medio-Bajo           SI                No        NO         1376     7187        False           2            53       0
CLI3        A           TIPO1      FUEL 1     Baja     M      Otros       CASADO      M   Empresa    Lerida        NO        NO        NO       Medio      NO DATA                No        NO         1376        0         True           4            21       3

### **Limpieza de datos**

Comenzamos abordando los **valores duplicados** en el dataset.

In [7]:
df.duplicated().sum()

np.int64(144)

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.shape[0] # Filas tras eliminar duplicados

57905

Ahora vamos con las **filas nulas**, ya que los valores nulos pueden afectar el rendimiento de los modelos predictivos.

In [10]:
df.isnull().sum() # Valores nulos

PRODUCTO               0
TIPO_CARROCERIA        0
COMBUSTIBLE            0
Potencia               0
TRANS                  0
FORMA_PAGO             0
ESTADO_CIVIL         890
GENERO               860
OcupaciOn              0
PROVINCIA              0
Campanna1              0
Campanna2              0
Campanna3              0
Zona_Renta         13064
REV_Garantia           0
Averia_grave           1
QUEJA_CAC              0
COSTE_VENTA            0
km_anno                0
Mas_1_coche            0
Revisiones             0
Edad_Cliente           0
Tiempo                 0
dtype: int64

In [11]:
null_percentage = (df.isnull().sum() / len(df)) * 100 # Porcentaje de valores nulos
null_percentage[null_percentage > 0]

ESTADO_CIVIL     1.537000
GENERO           1.485191
Zona_Renta      22.561091
Averia_grave     0.001727
dtype: float64